<!DOCTYPE html>
<html lang="<%= typeof HTML_LANG !== 'undefined' ? HTML_LANG : 'zh-CN' %>">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, viewport-fit=<%= VIEWPORT_FIT %>"
    />

    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta
      name="apple-mobile-web-app-status-bar-style"
      content="black-translucent"
    />

    <title><%= typeof HTML_TITLE !== 'undefined' ? HTML_TITLE : 'YUNKE' %></title>
    <meta name="theme-color" content="<%= typeof THEME_COLOR !== 'undefined' ? THEME_COLOR : '#ffffff' %>" />
    <meta name="description" content="<%= typeof DESCRIPTION !== 'undefined' ? DESCRIPTION : '' %>" />
    <% if (typeof KEYWORDS !== 'undefined' && KEYWORDS) { %>
    <meta name="keywords" content="<%= KEYWORDS %>" />
    <% } %>
    <%= PRECONNECT %>
    <link rel="manifest" href="/manifest.json" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" sizes="192x192" href="/favicon-192.png" />
    <link rel="shortcut icon" href="/favicon.ico?v=2" />
    <meta name="emotion-insertion-point" content="" />
    <meta property="description" content="<%= DESCRIPTION %>" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:url" content="https://app.yunke.pro/" />
    <meta
      name="twitter:title"
      content="YUNKE: There can be more than Notion and Miro."
    />
    <meta name="twitter:description" content="<%= DESCRIPTION %>" />
    <meta name="twitter:site" content="@YunkeOfficial" />
    <meta name="twitter:image" content="https://yunke.pro/og.jpeg" />
    <meta
      property="og:title"
      content="YUNKE: There can be more than Notion and Miro."
    />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="<%= DESCRIPTION %>" />
    <meta property="og:url" content="https://app.yunke.pro/" />
    <meta property="og:image" content="https://yunke.pro/og.jpeg" />
  </head>

  <body data-edge="sticker">
    <div id="app" data-version="<%= GIT_SHORT_SHA %>"></div>
  
  
  </body>
</html>
